:root  > * {
  --md-primary-fg-color:        #384D48;
}

/* Only elements you opt-in will be hidden until Sidecar applies actions */
[data-ab-hide] { visibility: hidden; }
[data-ab-hide].ab-ready { visibility: visible; }
